.FundoCadastro{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3em;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    border-radius: 7em;
    height: 90vh;
}
.Centro{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.Input{
    height: 3em;
    width: 40em;
    border-radius: 10em;
}
.Concordo{
    display: flex;
    gap: 1em;
}
#pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#botao{
    background-color: #FFB70E;
    border: none;
    border-radius: 3em;
    width: 10em;
    cursor: pointer;
    transition: linear, 0.5s;
}
#botao:hover{
    width: 11em;
}
#pergunta{
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}
.Entrar{
    color: #0033FF;
}
span{
    color: red;
}