.FundoLogin{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2vw;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    font-style: normal;
    border-radius: 14vh;
    height: 50vh;
    width: 35vw;
}
.CentroL{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.Input{
    height: 4vh;
    width: 30vw;
    border-radius: 10vh;
}
.ConcordoL{
    display: flex;
    gap: 1vh;
}
#perguntaL{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#botaoL{
    background-color: #FFB70E;
    border: none;
    border-radius: 3vh;
    width: 7vw;
    height: 4vh;
    cursor: pointer;
    transition: linear, 0.5s;
    font-size: 0.8vw;
}
#botaoL:hover{
    width: 8vw;
    height: 5vh;
}
#perguntaL{
    display: flex;
    flex-direction: row;
    gap: 1vh;
}
.EntrarL{
    color: #0033FF;
}
.linkL{
    text-decoration: none;
}
.linkL:hover{
    font-size: 1.1vw;
}
span{
    color: red;
}