.perfil-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  color: white;
}

/* CARD HORIZONTAL */
.perfil-card-horizontal {
  background: #0e0e0e;
  border: 1px solid #ffb7035e;
  border-radius: 18px;
  padding: 40px;
  width: 750px;
  display: flex;
  gap: 40px;
  box-shadow: 0 0 18px #000;
  align-items: center;
}

/* FOTO NA ESQUERDA */
.perfil-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  background: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
  background-size: cover;
  border-radius: 50%;
  border: 4px solid #ffb703;
}

/* BLOCO DE INFO NA DIREITA */
.perfil-info-bloco {
  flex: 1;
}

.perfil-nome {
  font-size: 2rem;
  margin-bottom: 5px;
}

.perfil-email {
  opacity: 0.8;
  margin-bottom: 25px;
}

.perfil-info {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ffb7033d;
  margin-bottom: 25px;
  font-size: 1rem;
}

/* BOTÃO PRODUTOS ALUGADOS */
.btn-alugados {
  background: #ffb703;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.btn-alugados:hover {
  background: #e6a302;
}

/* BOTÃO SAIR */
.btn-sair {
  background: red;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  transition: 0.3s;
  width: 100%;
}

.btn-sair:hover {
  background: #b30000;
}
